/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsla(291, 79%, 51%, 1);

  background: linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#C621E5", endColorstr="#7D7CF9", GradientType=1);
}

.navbar {
  padding: 0.4rem;
  border-radius: 10px;
  box-shadow: 0.1vw 0.1vw 0.8vw 0.4vw rgb(122, 89, 201);
  margin-top: 0.3rem;
}

.navbar ul {
  padding: 5px;
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: 0 1rem 0 1rem;
  /* max-width: 100%; */
}

.navbar ul li a {
  text-transform: uppercase;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 5px;
}

.navbar ul li a:hover {
  background: hsla(302, 82%, 76%, 1);

  background: linear-gradient(
    90deg,
    hsla(302, 82%, 76%, 1) 0%,
    hsla(258, 40%, 68%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(302, 82%, 76%, 1) 0%,
    hsla(258, 40%, 68%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(302, 82%, 76%, 1) 0%,
    hsla(258, 40%, 68%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F492F0", endColorstr="#A18DCE", GradientType=1);

  border-radius: 10px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  margin-top: 3rem;
  margin-bottom: 8rem;
}

.intro h1 {
  font: 6rem "Pacifico", Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
}

.intro p {
  font: 400 20px/1.3 "Lobster Two", Helvetica, sans-serif;
  padding: 3px;
  margin-bottom: 1rem;
  color: #ffffff;
}

.content1 {
  text-align: center;
}

@media screen and (max-width: 560px) {
  .navbar ul li a:hover {
    background: none;
  }

  .links {
    display: none;
  }

  .ico:hover {
    color: blue;
  }

  .intro h1 {
    font-size: 3rem;
  }

  .intro p {
    font-size: 1rem;
  }
}

/* project section work */

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding: 10px;
  margin: 20px;
  box-shadow: 0.1vw 0.1vw 0.8vw 0.4vw rgb(122, 89, 201);
}

.box h2 {
  margin-bottom: 1rem;
}

.bgg {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.box img:hover,
.box img:hover,
.box img:hover {
  scale: 120%;
  transition: 1s;
  margin: 150px 30px;
  position: relative;
  left: 50px;
  background: linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#C621E5", endColorstr="#7D7CF9", GradientType=1);
  border-radius: 20px;
}

.cc:hover {
  scale: 120%;
  transition: 1s;
  margin: 150px 30px;
  background: linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#C621E5", endColorstr="#7D7CF9", GradientType=1);
  border-radius: 20px;
}

.box img {
  max-width: 100%;
  border-radius: 10px;
}

/************footer work here ***********/

footer {
  background: linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#C621E5", endColorstr="#7D7CF9", GradientType=1);
}

.quick h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.ico1 {
  font-size: 1.6rem;
  color: #ffffff;
}

.quick ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.quick ul li {
  padding: 6px;
}

.shear_maintainer {
  margin-top: 3rem;
  padding-bottom: 0.6rem;
  display: flex;
  justify-content: space-between;
}

.shear {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shear i {
  padding-left: 15px;
}

footer i:hover {
  scale: 170%;
  color: rgb(179, 13, 13);
  transition: 0.5s;
}

.m-logo {
  display: flex;
  justify-content: end;
  align-items: center;
}

.m-logo img {
  margin: 3px;
  max-width: 35px;
}

.m-logo img:hover {
  scale: 170%;
  transition: 0.5s;
}

/* copyright & designed heading */

.ms {
  color: #ffffff;
  transition: 0.5s;
  margin-right: 20px;
  text-align: center;
}

.copy {
  padding: 6px;
  background: linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.policy {
  color: #ffffff;
  cursor: pointer;
}

.copyRight {
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.bb {
  color: #ffffff;
  font-size: 1.3rem;
}

/* testimonial work */
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}


.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}
.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}
@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}
